.signupForm {
    width: 80%;
    margin: auto;
    align-items: center;
    margin-top: 40px;
}

h2 {
    margin-left: 36%;
}

.submit {
    display: block;
    margin: auto;
    width: 120px;
    margin-top: 20px
}